button {
  i {
    font-size: 16px;
    margin: -4px 5px 0px 0px;
  }
}

/* #fds {
  padding: 2px 0px 0px 4px;
  font-size: 13px;
} */

.datatable {
  /* height: 440px; */
  height: calc(100vh - 200px);
  width: 100%;
}
