button {
  margin-left: 10px;
}
mat-form-field {
  width: 100%;
}
.msg_error {
  padding: 10px 0px;
  margin-bottom: 10px;
  color: white;
  background-color: rgb(253, 62, 62);
  text-align: center;
}
