<mat-drawer-container class="example-container">
  <mat-drawer #drawer class="sidebar" mode="side" opened="true">
    <app-sidebar (click)="onChangeTitle()"></app-sidebar>
  </mat-drawer>

  <div class="main-panel" id="main-panel">
    <nav class="navbar navbar-expand-lg navbar-absolute">
      <div class="container-fluid">
        <div class="navbar-wrapper">
          <div *ngIf="isMobile" class="navbar-toggle">
            <button mat-button mat-icon-button (click)="drawer.toggle()">
              <i class="fa fa-bars" aria-hidden="true" style="font-size: 20px"></i>
            </button>
          </div>
          <a class="navbar-brand" href="javascript:void(0)">{{ title }}</a>
        </div>
      </div>
    </nav>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>
